<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="100240237"
    android:versionName="1.24.237"
    android:installLocation="auto"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    android:requiredSplitTypes="base__abi"
    android:splitTypes=""
    package="com.king.apps.candysolitaire"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="35"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission
        android:name="android.permission.INTERNET"
        android:configChanges="screenSize|orientation"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:glEsVersion="0x30000"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false"/>
    <queries>
        <intent>
            <action android:name="com.applovin.am.intent.action.APPHUB_SERVICE"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="com.king.analytics.REQUEST_VALUE"/>
        </intent>
    </queries>
    <uses-permission android:name="com.applovin.array.apphub.permission.BIND_APPHUB_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <permission
        android:name="com.king.apps.candysolitaire.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.king.apps.candysolitaire.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <meta-data
        android:name="android.webkit.WebView.MetricsOptOut"
        android:value="true"/>
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:backupAgent="com.king.usdk.cloudstorage.KingBackupAgentHelper"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:appCategory="game"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:enableOnBackInvokedCallback="true">
        <service
            android:name="com.facebook.ads.internal.ipc.AdsMessengerService"
            android:exported="false"
            android:process=":adnw"/>
        <service
            android:name="com.facebook.ads.internal.ipc.AdsProcessPriorityService"
            android:exported="false"/>
        <service android:name="com.king.store.billing.BillingService"/>
        <receiver
            android:name="com.king.store.billing.BillingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.king.usdk.kdid.AnalyticsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.king.analytics.BOOT_COMPLETED"/>
                <action android:name="com.king.analytics.REQUEST_VALUE"/>
                <action android:name="com.king.analytics.RECEIVE_VALUE"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
        <provider
            android:name="com.facebook.ads.AudienceNetworkContentProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.AudienceNetworkContentProvider"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6472038563747829~3227852739"/>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false"/>
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"/>
        <meta-data
            android:name="google_analytics_default_allow_analytics_storage"
            android:value="false"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_storage"
            android:value="false"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_user_data"
            android:value="false"/>
        <meta-data
            android:name="unity.splash-mode"
            android:value="0"/>
        <meta-data
            android:name="unity.splash-enable"
            android:value="true"/>
        <meta-data
            android:name="unity.launch-fullscreen"
            android:value="true"/>
        <meta-data
            android:name="unity.render-outside-safearea"
            android:value="false"/>
        <meta-data
            android:name="unity.auto-report-fully-drawn"
            android:value="true"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.unity3d.ads.adplayer.FullScreenWebViewDisplay"
            android:exported="false"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="true"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity"
            android:exported="false"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="false"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity"
            android:exported="false"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="false"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity"
            android:exported="false"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="true"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.unity3d.services.ads.adunit.AdUnitActivity"
            android:exported="false"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="true"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.facebook.ads.internal.ipc.RemoteANActivity"
            android:exported="false"
            android:process=":adnw"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:label="@string/app_name"
            android:name="com.king.apps.candysolitaire.UnityMainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:configChanges="fontScale|layoutDirection|density|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="false"
            android:resizeableActivity="false">
            <intent-filter android:autoVerify="true">
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="ccsol.play.king.com"/>
                <data
                    android:scheme="https"
                    android:host="ccsol.play.king.com"/>
                <data
                    android:scheme="http"
                    android:host="cs-king.play.king.com"/>
                <data
                    android:scheme="https"
                    android:host="cs-king.play.king.com"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.king.apps.candysolitaire"/>
                <data android:scheme="candysolitaire"/>
                <data android:scheme="king312"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true"/>
        </activity>
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.androidx-startup"
            android:initOrder="-2147483648">
            <meta-data
                android:name="com.moloco.sdk.internal.android_context.ApplicationContextStartupComponentInitialization"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="com.unity3d.services.core.configuration.AdsSdkInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <activity
            android:theme="@style/FullscreenAdActivity"
            android:name="com.moloco.sdk.xenoss.sdkdevkit.android.adrenderer.internal.vast.VastActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/FullscreenAdActivity"
            android:name="com.moloco.sdk.xenoss.sdkdevkit.android.adrenderer.internal.staticrenderer.StaticAdActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/FullscreenAdActivity"
            android:name="com.moloco.sdk.xenoss.sdkdevkit.android.adrenderer.internal.mraid.MraidActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity android:name="support.ada.embed.ui.AdaEmbedActivity"/>
        <activity
            android:name="com.braze.ui.BrazeWebViewActivity"
            android:exported="false"/>
        <activity
            android:name="com.braze.ui.activities.BrazeFeedActivity"
            android:exported="false"/>
        <activity
            android:name="com.braze.ui.activities.ContentCardsActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Braze.PushTrampoline.Transparent"
            android:name="com.braze.push.NotificationTrampolineActivity"
            android:exported="false"
            android:taskAffinity=".NotificationTrampolineActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:autoRemoveFromRecents="true"/>
        <receiver
            android:name="com.braze.push.BrazePushReceiver"
            android:exported="false"/>
        <provider
            android:name="com.applovin.sdk.AppLovinInitProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.applovininitprovider"
            android:initOrder="101"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.applovin.adview.AppLovinFullscreenActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerDetailActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerMultiAdActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerAdUnitsListActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerAdUnitWaterfallsListActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerAdUnitDetailActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerCmpNetworksListActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerTcfConsentStatusesListActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerTcfInfoListActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerTcfStringActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerTestLiveNetworkActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerTestModeNetworkActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerUnifiedFlowActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"
            android:name="com.applovin.mediation.MaxDebuggerWaterfallSegmentsActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme"
            android:name="com.applovin.creative.MaxCreativeDebuggerActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <activity
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme"
            android:name="com.applovin.creative.MaxCreativeDebuggerDisplayedAdActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard|locale"/>
        <service
            android:name="com.applovin.impl.adview.activity.FullscreenAdService"
            android:exported="false"
            android:stopWithTask="false"/>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"/>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="7.0.0"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider
            android:name="com.google.android.gms.games.provider.PlayGamesInitProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.playgamesinitprovider"
            android:initOrder="99"/>
        <activity
            android:theme="@style/Theme.Games.Transparent"
            android:name="com.google.android.gms.games.internal.v2.resolution.GamesResolutionActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.games.version"
            android:value="@string/play_games_sdk_version"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <receiver
            android:name="com.braze.location.BrazeActionReceiver"
            android:exported="true"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.mobileadsinitprovider"
            android:initOrder="100"/>
        <service
            android:name="com.google.android.gms.ads.AdService"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name="com.google.android.gms.ads.OutOfContextTestingActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.ads.NotificationHandlerActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"/>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable.BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <activity
            android:name="com.vungle.ads.internal.ui.VungleActivity"
            android:launchMode="singleTop"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <receiver
            android:name="com.braze.BrazeFlushPushDeliveryReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.braze.FLUSH_EVENTS"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.ironsource.mediationsdk.testSuite.TestSuiteActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true">
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true"/>
        </activity>
        <provider
            android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.IronsourceLifecycleProvider"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.king.usdk.otconsent.OneTrustLaunchActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <service
            android:name="com.king.usdk.localnotification.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver
            android:name="com.king.usdk.localnotification.LocalNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.king.usdk.localnotification.NOTIFICATION_DISCARDED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name="com.king.usdk.ada.AdaActivity"/>
        <service
            android:name="com.king.usdk.braze.pushnotification.BrazeFcmListenerService"
            android:exported="false">
            <intent-filter android:priority="15">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.king.usdk.braze.pushnotification.BrazeNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.braze.push.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="com.braze.push.intent.NOTIFICATION_OPENED"/>
                <action android:name="com.braze.push.intent.NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/AbmOneTrustTheme"
            android:name="com.king.adscmp.sa.OneTrustNativeLaunchActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.king.amp.sa.BrowserComponentActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.king.amp.sa.InteractiveAdActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.king.amp.sa.AbmMediaPlayerActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.king.amp.sa.AbmAdActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation"/>
        <receiver
            android:name="com.king.usdk.nativesharing.NativeSharingReceiver"
            android:exported="true"/>
        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.SentryInitProvider"/>
        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:exported="false"
            android:authorities="com.king.apps.candysolitaire.SentryPerformanceProvider"
            android:initOrder="200"/>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="2"/>
    </application>
</manifest>
